.auth-page{
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  padding:20px;

  background:
  radial-gradient(circle at top right,#ffdbe8,transparent 35%),
  radial-gradient(circle at bottom left,#ffeef5,transparent 35%),
  linear-gradient(135deg,#fff,#fff8fb);
}

.auth-card{
  width:100%;
  max-width:450px;

  background:white;

  padding:40px;

  border-radius:24px;

  text-align:center;

  box-shadow:
  0 20px 60px rgba(
    255,
    143,
    179,
    .18
  );
}

.auth-card h1{
  margin-bottom:10px;
}

.auth-card p{
  color:#777;
  margin-bottom:25px;
}

.auth-card input{
  width:100%;

  padding:14px;

  margin-bottom:15px;

  border-radius:12px;

  border:1px solid #eee;

  outline:none;
}

.auth-card input:focus{
  border-color:#ff8fb3;
}

.auth-card button{
  width:100%;

  padding:14px;

  border:none;

  border-radius:12px;

  background:
  linear-gradient(
    135deg,
    #ff8fb3,
    #ffb8d0
  );

  color:white;

  font-weight:600;

  cursor:pointer;
}

.success-msg{
  margin-top:15px;
  color:#16a34a;
  font-size:14px;
}